$bg-img: url(../img/bg-image.png);

body{
    font-family: 'Montserrat', sans-serif;
    background-image: $bg-img;
   
}

#main{
    display: flex;
    flex-direction: row;
}


@import 'header.scss';

@import 'sidebar.scss';

@import 'article.scss';


footer{
    margin-top: 100px;
    border: 3px solid black;
}