*{
    box-sizing: border-box;
}

body{
    background-color: rgba(173, 225, 255, 0.836);
    text-transform: uppercase;
    min-height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.container{
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 90%;
    max-width: 100%;
    margin-left: 25px;
}
.titolo{
    background-color: rgb(95, 179, 251);
    border-bottom: 1px solid grey;
    border-radius: 5px;
    border: 2px solid rgb(0, 110, 68);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    margin: 20px;
    width: 95%;
}

.titolo h2{
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #051400;
    font-weight: bold;
}

#contenitore{
    margin: 20px;
    border: 2px solid black;
    font-size: 14px;
    width: 90%;
}

td{
    border: 1px solid black;
    padding: 10px;
}
th{
    border: 1px solid black;
    padding: 10px;
}

#btn{
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(123, 218, 255);
}



